header {
  background-color: rgb(28, 56, 151);
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: white;
  text-decoration: none;
}